@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a{
    color: inherit;
    text-decoration: none;
}
.ql-container{
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: #b3b3b1;
}

.custom-paragraph-style {
  max-width: 200px; /* veya istediğiniz genişliği belirtin */
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-new{
  width: 400px;
}
.text-old{
  width: 100px;
}